@mixin underLine($spaceUnder: 0px) {
  &::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 1px;
    bottom: -$spaceUnder;
    left: 50%;
    transform: translateX(-50%);
    background-color: $third-color;
  }
}
