.footer {
  &-container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  &-avatar-wrapper {
  }
  &-avatar {
    img {
      width: 80px;
      border-radius: 20px;
      cursor: pointer;
    }
  }
}
