.footer {
  padding: 20px;
  border-top: 1px solid $secondary-color;
  &-container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px 40px;
  }

  &-avatar {
    margin-bottom: 10px;
    img {
      width: 80px;
      border-radius: 20px;
      cursor: pointer;
    }
  }
  &-nav,
  &-social-media {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  &--bigger {
    font-size: 1.7rem;
    font-weight: 600;
  }
}
