.section-projects {
  &-container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
  }
  &-heading {
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    @include underLine(10px);
  }
  &-list {
    display: grid;
    justify-content: center;
  }
}
